body{
    background-color: #000000;
}
h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    text-align: center;
    margin: 20px auto;
    background-color: #000000;
    color: white;
}
p {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    text-align: left;
    margin: auto;
    padding: 200px;
}

#logo{
    height: 150px;
    width: auto;
    float: left;
    padding: 0 50px;
    display: inline;
}

a:visited, a:link, .nav{
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    display:inline;
    padding-right: 30px;
}

a:hover, .nav{
    color: grey;
}

nav{
    margin: 0;

}